<!DOCTYPE html>
<html>
    <template id="js-question-block">
        <style>
            .question_block {
                font-family: 'Open Sans', sans-serif;
                padding: 20px;
                text-align: center;
            }

            h2 {
                font-size: 1.875em;
                color: #FF7900;
            }

            h3 {
                font-size: 1.5em;
            }

            img {
                display: block;
                margin: 0 auto 20px;
                width: 100%;
            }

            label {
                display: block;
                font-size: 1.200em;
                margin-bottom: 10px;
            }

            label input {
                margin-right: 10px;
            }

            button {
                background-color: #FF7900;
                color: #ffffff;
                font-size: 1.275em;
                text-transform: uppercase;
                margin: 20px auto;
                padding: 10px 40px;
                border: 0;
            }

            .radio_container {
                text-align: left;
            }
            .radio_container img {
                margin: 10px 0;
            }

            .radio_container p {
                color: red;
                font-size: 1em;
            }
        </style>

        <div class="question_block">
             <header></header>
            <div class="radio_container"></div>
            <button class="btn">Send</button>
        </div>

    </template>

    <script type="text/javascript">
        class QuestionBlock extends HTMLElement {
            static get observedAttributes() {
                return ['title', 'image', 'question', 'options', 'display'];
            }

            constructor() {
                super();
                this.importDocument = document.currentScript.ownerDocument;
                this.handleClick = this.handleClick.bind(this);
                this.visibility(this.display);
            }

            connectedCallback() {
                let shadowRoot = this.attachShadow({ mode: 'open' });
                const questionBlock = this.importDocument.querySelector(
                    '#js-question-block'
                );

                const instance = questionBlock.content.cloneNode(true);
                shadowRoot.appendChild(instance);

                const button = shadowRoot.querySelector('button');

                button.addEventListener('click', this.handleClick);

                this.render();
            }

            handleClick(e) {
                
                const elemetChecked = this.shadowRoot.querySelector('input[name="option"]:checked');
                
                if (elemetChecked === null) {
                    const error = document.createElement('p');
                    error.textContent = 'Selecciona una respuesta';
                    this.shadowRoot.querySelector('.radio_container').appendChild(error);
                } else {
                     this.dispatchEvent(new CustomEvent('question-block-response', {detail: {
                        'idQuestion': this.idQuestion,
                        'idResponse': elemetChecked.value
                    }}));
                }
            }

            render(){
                this.renderTitle(this.title);
                this.renderQuestion(this.question);
                this.renderImage(this.image);
                this.renderOptions(this.options);
            }

            disconnectedCallback() {
               const button = shadowRoot.querySelector('button');
               button.removeEventListener('click', this.handleClick);
            }

            attributeChangedCallback(attr, oldValue, newValue) {
                // TODO Put here the changes for the attributes

                if (!this.shadowRoot) {
                    return null;
                }

                // Title
                if (attr === 'title') {
                    this.renderTitle(newValue);
                }

                // Question
                if (attr === 'question') {
                    this.renderQuestion(newValue, oldValue);
                }

                // Image
                if (attr === 'image') {
                    this.renderImage(newValue, oldValue);
                }

                // Options
                if (attr === 'options') {
                    this.renderOptions(newValue, oldValue);
                }

                //Display
                if (attr === 'display') {
                    this.visibility(newValue);
                }
            }

            renderTitle(value){
                let title;

                if (!this.shadowRoot.querySelector('.question_block h2')) {
                    title = document.createElement('h2');
                    this.shadowRoot.querySelector('.question_block').insertBefore(title, this.shadowRoot.querySelector('header'));
                } else {
                    title = this.shadowRoot.querySelector('.question_block h2');
                }
                title.textContent = value;
            }

            renderQuestion(newValue, oldValue = null) {
                if (newValue !== null) {
                    let question;

                    if (this.shadowRoot.querySelector('header h3')) {
                        question = this.shadowRoot.querySelector('header h3');
                    } else if (this.shadowRoot.querySelector('header img') && this.shadowRoot.querySelector('header h3') === null) {
                        question = document.createElement('h3');
                        this.shadowRoot.querySelector('header').insertBefore(h3, this.shadowRoot.querySelector('header img'));
                    } else {
                        question = document.createElement('h3');
                        this.shadowRoot.querySelector('header').appendChild(question);
                    }

                    question.textContent = newValue;

                } else if (oldValue !== null) {
                    this.shadowRoot.querySelector('header h3').remove();
                }
            }

            renderImage(newValue, oldValue = null) {
                if (newValue !== null) {
                    let image;

                    if (this.shadowRoot.querySelector('header img')) {
                        image = this.shadowRoot.querySelector('header img');
                    } else {
                        image = document.createElement('img');
                        this.shadowRoot.querySelector('header').appendChild(image);
                    }

                    image.setAttribute('src', newValue);
                } else if (oldValue !== null) {
                    this.shadowRoot.querySelector('header img').remove();
                }
            }

            renderOptions(newValue, oldValue = null) {
                this.shadowRoot.querySelector('.radio_container').innerHTML = '';

                if (newValue !== null) {
                    const radios = JSON.parse(newValue)

                    for (let i in radios) {
                        const label = document.createElement('label');
                        const oneRadio = document.createElement('input');

                        label.appendChild(oneRadio);
                        oneRadio.setAttribute('type', 'radio');
                        oneRadio.setAttribute('value', radios[i].id);
                        oneRadio.setAttribute('name', 'option');

                        if (radios[i].text) {
                            label.innerHTML += radios[i].text;
                        }

                        if (radios[i].image) {
                            const image = document.createElement('img');
                            image.setAttribute('src', radios[i].image);
                            label.appendChild(image);
                        }

                        this.shadowRoot.querySelector('.radio_container').appendChild(label);
                    }
                }
            }

            visibility(newValue) {
                this.style.display = newValue;
            }


            get title() {
                return this.getAttribute('title');
            }

            set title(val) {
                this.setAttribute('title', val);
            }

            get idQuestion() {
                return this.getAttribute('idQuestion');
            }

            set idQuestion(val) {
                this.setAttribute('idQuestion', val);
            }

            get question() {
                return this.getAttribute('question');
            }

            set question(val) {
                this.setAttribute('question', val);
            }

            get image() {
                return this.getAttribute('image');
            }

            set image(val) {
                this.setAttribute('image', val);
            }

            get options() {
                return this.getAttribute('options');
            }

            set options(val) {
                this.setAttribute('options', val);
            }

             get display() {
                return this.getAttribute('display');
            }

            set display(val) {
                this.setAttribute('display', val);
            }
        }

        window.customElements.define('question-block', QuestionBlock);
    </script>
</html>
