<html>
<template>
</template>
<script type="text/javascript">
    const URL_GET = 'http://localhost:4000/question';
    const URL_POST = 'http://localhost:4000/answer';
    class QuestionData extends HTMLElement {
        static get observedAttributes() {
            return ["params"];
        }

        constructor() {
            super();
            this.importDocument = document.currentScript.ownerDocument;
        }

        connectedCallback() {
            this.callServer();
        }

        attributeChangedCallback() {
            this.callServer();
        }

        callServer() {
            var params = this.getAttribute("params");
            var url = params ? URL_POST : URL_GET;
            var method = params ? 'POST' : 'GET';
            var xhr = new XMLHttpRequest();
            xhr.open(method, url, true);
            xhr.responseType = "json";
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        this.dispatchEvent(
                            new CustomEvent("response", {
                                detail: xhr.response
                            })
                        );
                    }
                }
            };
            xhr.send(params);
        }
    }

    window.customElements.define("question-data", QuestionData);

</script>

</html>