.question_block {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 1.875em;
    color: #FF7900;
}

h3 {
    font-size: 1.5em;
}

img {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
}

label {
    display: block;
    font-size: 1.200em;
    margin-bottom: 10px;
}

label input {
    margin-right: 10px;
}

button {
    background-color: #FF7900;
    color: #ffffff;
    font-size: 1.275em;
    text-transform: uppercase;
    margin: 20px auto;
    padding: 10px 40px;
    border: 0;
}

.radio_container {
    text-align: left;
}
.radio_container img {
    margin: 10px 0;
}

.radio_container p {
    color: red;
    font-size: 1em;
}
